<%- include("partials/head") %>
<%- include("partials/header") %>
<%- include("partials/nav") %>

<main class="resume-layout">
  <section class="card">
    <h2><%= title %></h2>
    <p><%= message %></p>
  </section>
</main>

<%- include("partials/footer") %>
